
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'accounts/style/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log in</title>
	</head>
<body>
	<div class="header">
		<ul>
			<li><img src="{% static 'accounts/images/logo.png' %}" alt="Logao" height="100px" width="100px"></li>
			<li>Stay connected with friends, always</li>
		</ul>
	</div>
	<div class="body">
	
		<div class="logo"><img id="logo" src="{% static 'accounts/images/applogo.svg' %}" alt="Logao" height="80%" width="350px"></div>
		<div class="form">
			<div><h1>Login Now!</h1></div>
			<div>
			<form method="POST" enctype="multipart/form-data">
				
				{% csrf_token %}
					<p>Email:</p>
                        {{ form.email }}
					   {{ form.email.errors }}

					<p>Password:</p>{{ form.password }}
                    {{ form.password.errors }}
				<button type="submit">Login</button>
			</div>
			</form>
			<hr width="75%">
			<h2><a href="{% url 'accounts:changepass' %}">Forgot your password?</a></h2>
			<hr width="75%">
			<h2>Dont't have an account?<a href="{% url 'accounts:register' %}">  Register here!</a></h2>
		</div>
		
	</div>
</div>
<div class="footer">
	<p>Made by mohamed amine selmi</a></p>
</div>

	
</body>
</html>
